@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:root{
	--primaryFont:"Open Sans", sans-serif;
	--secondaryFont: "Poetsen One", sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
img{width: 100%;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background-color: #000; /* Dark mode background */
    color: #ffffff; /* Dark mode text color */
}
.light-mode {
    background-color: #fff !important; /* Light mode background */
    color: #000 !important;  /* Light mode text color */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* style.css */
body {
    background-color: #000; /* Dark mode background */
    color: #fff; /* Dark mode text color */
}

.light-mode body {
    background-color: #fff !important; /* Light mode background */
    color: #000 !important; /* Light mode text color */
}

/* Toggle Button Styles */
.toggle-container {
    position: absolute;
  	width: 60px;
  	height: 30px;
  	right: 20px;
  	top: 20px;
}

.toggle-checkbox {
    display: none;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc; /* Default color */
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    top: 2px; 
    left: 2px; 
    transition: transform 0.3s, background-color 0.3s;
}

.toggle-checkbox:checked + .toggle {
    background-color: #4CAF50; 
}

.toggle-checkbox:checked + .toggle::before {
    transform: translateX(30px); 
    background-color: #fff; 
}


.wave {
	position: fixed;
	width: 400px;
	height: 400px;
	background-color: rgba(92, 88, 235, 0.25); 
	border-radius: 50%;
	animation: spin 5s linear infinite, morph 5s ease-in-out infinite, colorChange 5s linear infinite;
	 
}
  
  @keyframes spin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }
  
  @keyframes morph {
    0%, 100% {
        border-radius: 50% 50% 50% 50%; /* Circle */
    }
    25% {
        border-radius: 60% 40% 60% 40%; /* Vertical oval elongated */
    }
    50% {
        border-radius: 50% 50% 50% 50%; /* Circle */
    }
    75% {
        border-radius: 40% 60% 40% 60%; /* Horizontal oval elongated */
    }
}

  
.wave-con {
	position: relative;
}
.wave-con .wave:nth-child(1) {
	
	left: -154px;
  top: -38px;
}
.wave-con .wave:nth-child(2) {
	left: -200px;
	top: -38px;
}
.wave-con .wave:nth-child(3) {
	
	right: -154px;
  top: -38px;
}
.wave-con .wave:nth-child(4) {
	right: -200px;
	top: -38px;
}
.wave-con .wave:nth-child(5) {
	
	left: -197px;
	bottom: -235px;
}
.wave-con .wave:nth-child(6) {
	left: -325px;
	bottom: -38px;
}
.wave-con .wave:nth-child(7) {

	right: -197px;
	bottom: -235px;
}
.wave-con .wave:nth-child(8) {
	right: -325px;
	bottom: -38px;
}								

.wrapper{width: 100%; max-width: 1400px; margin: 0 auto;position: relative;}

/*intro*/
.intro-text {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.intro-text h2 {
	text-align: center;
	line-height: 100%;
	font-family: var(--primaryFont);
}
.intro-text h2 span {
	display: block;
	font-size: 30px;
	line-height: 100%;
	margin-top: 20px;
	font-family: var(--secondaryFont);
}
.intro-inner h3{
	font-size: 40px;
	font-family: var(--primaryFont);
	text-align: center;
}

.intro-inner {
	background: rgba(92, 88, 235, 0.25);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(92, 88, 235, 0.25);
	padding: 20px;
}
.info-text.animate__animated{
	animation-duration: 3000ms;
}

.info-text figure{
	height: 200px;   
	overflow: hidden;   
	margin: 0 auto;   
	width: max-content;
	border-radius: 50%;
  	border: 2px solid #90898d;
  	box-shadow: rgba(0, 52, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 232, 232, 0.3) 0px 18px 36px -18px inset;
}
.info-text figure img{
	width: 160px;
	height: 400px;
	object-fit: cover;
}
.info-text p{
	text-align: center; 
	width: 100%;
  	max-width: 740px;
  	margin: 20px auto 0;
  	font-size: 20px;
	font-family: var(--primaryFont);
}

#work-exp-con{
	margin: 50px 0;
}
.work-info-con{
	padding: 30px 100px;
  	border: 1px solid #342d80de;
  	border-bottom-right-radius: 200px;
  	border-top-left-radius: 200px;
	  box-shadow: rgba(92, 88, 235, 0.25) 0 30px 60px -12px inset,rgba(92, 88, 235, 0.25) 0 18px 36px -18px inset;
	  background: #000;
}
.work-info-con h2{
	font-family: var(--secondaryFont);
	font-size: 25px;
	text-align: center;
}

.we-info {
	display: flex;
	gap: 20px;
	justify-content: center;
}
.we-info ul {
	margin-top: 30px;
	width: 100%;
	max-width: 500px;
	box-shadow: rgba(192, 80, 255, 0.25) 0 30px 60px -12px inset,rgba(0,0,0,.3) 0 18px 36px -18px inset;
  padding: 20px;
  border-radius: 20px;
}
.we-info ul li{
	font-family: var(--primaryFont);
}
.we-info ul li h3{
	font-family: var(--primaryFont);
	font-size: 20px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 1450px) {
	.work-info-con {
		margin: 0 20px;
	}
}
@media only screen and (max-width: 1000px) {
	.intro-inner{
		margin: 0 20px;
	}
	.info-text {
		margin: 0 20px;
    	padding: 20px;
    	border-radius: 20px;
    	backdrop-filter: blur(5px);
    	-webkit-backdrop-filter: blur(5px);
    	background: rgba(92,88,235,.25);
		border: 1px solid rgba(92,88,235,.25);
	}
	.work-info-con {
		border-radius: 20px;
		padding: 30px;
	}
	.we-info {
		flex-wrap: wrap;
	}
	.we-info ul{
		max-width: 100%;
	}
}
@media only screen and (max-width: 600px) {

	.wave-con .wave:nth-child(1) {
	
		left: -290px;
	  top: -38px;
	}
	.wave-con .wave:nth-child(2) {
		left: -310px;
		top: -38px;
	}
	.wave-con .wave:nth-child(3) {
		
		right: -290px;
	  top: -38px;
	}
	.wave-con .wave:nth-child(4) {
		right: -310px;
		top: -38px;
	}
	.wave-con .wave:nth-child(5) {
		
		left: -290px;
		bottom: -235px;
	}
	.wave-con .wave:nth-child(6) {
		left: -310px;
		bottom: -38px;
	}
	.wave-con .wave:nth-child(7) {
	
		right: -290px;
		bottom: -235px;
	}
	.wave-con .wave:nth-child(8) {
		right: -310px;
		bottom: -38px;
	}								

	.intro-inner h3 {
		font-size: 28px;
	}
}